body
{
    background-color: #484848;
}


main
{
    position: absolute;
    right: 45%;
    display: grid;
    grid-template-columns: 150pt 150pt;
    text-align: center;
    grid-template-rows: 150pt 150pt;
    justify-items: center;
    align-items: center;
    width: 200pt;
}

.top
{
    display: flex;
    align-items: baseline;
}


.button
{
    width: 150pt;
    height: 150pt;
    border-radius: 60pt;
    border: 4pt solid #111111;

}

#one
{
    background-color: red;
    border-top: 8pt solid #111111;
    border-left: 8pt solid #111111;
    border-radius: 200pt 0 0 0;

}

#two
{
    background-color: yellow;
    border-radius:  0 200pt 0 0;
    border-top: 8pt solid #111111;
    border-right: 8pt solid #111111;

}

#three
{
    background-color: green;
    border-radius:  0 0 0 200pt;
    border-bottom: 8pt solid #111111;
    border-left: 8pt solid #111111;
}

#four
{
    background-color: blue;
    border-radius: 0 0 200pt 0;
    border-bottom: 8pt solid #111111;
    border-right: 8pt solid #111111;
}


#words
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
    /* padding-bottom: 20pt; */
    margin-right: 10pt;
    text-align: right;
    color:#9e9e9e;
    flex-grow: 2;
}


.start-button
{
    width: 150pt;
    height: 75pt;
    border-radius: 100pt;
    border: 5pt solid #111111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
    background-color: rgb(184, 0, 184);
}


.sequence-button
{
    width: 150pt;
    height: 75pt;
    border-radius: 100pt;
    border: 3pt solid #111111;
    background-color: rgb(252, 208, 127);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17pt;
}



#start:active
{
    background-color: rgb(204, 150, 255);
}


#sequence:active
{
    background-color: rgb(255, 208, 91);
}


@media only screen and (max-width: 400px)
{
    .top
    {
        flex-direction: column;
    }

    main
    {
       right: 32%; 
    }
}