body {
    font-family: helvetica, sans-serif;
    width: 350px;
    background-color: darkgray;
  }

  label {
    font-weight: bold;  
    font-family: Impact;
    font-size: 20pt;
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    padding: 5px;
    width: 125px;
    background-color: aquamarine;
    font-size: 10pt;   
  }

  p {
    background: aqua;
    color: #5E2612;
    padding: 10px;
    visibility: hidden;
    border-radius: 20px;
    font-size: 20pt;
    width: 1000px;
    border: 5pt solid blue;
  }

  .randomize
  {
    background-color: blueviolet;
    font-size: 15pt;
    border-radius: 10pt;;
  }

  #customname
  {
    font-size: 15pt;
  }