* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
    
  }
  
  body {
    margin: 0;
    background-color: white; 
    
   
    
  }
  
  article {
    
   
    border-top: 1mm solid chartreuse;
    border-bottom: 1mm solid chartreuse;
    
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
    background: url(top-image.png) no-repeat left top, url(bottom-image.png) no-repeat left bottom, linear-gradient(to bottom,rgba(0, 0, 0, 0.25), rgba(0,0,0,0) 20%, rgba(50,50,50,0.25) 80%);   
  }


  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-image: url(logo.png);
    filter: drop-shadow(30px 30px 30px black)

  }

 
  
  /* Your CSS below here */

  /*

  Add a background declaration to the letter that:
Fixes the top image to the top of the letter
Fixes the bottom image to the bottom of the letter
Adds a semi-transparent gradient over the top of both of the previous backgrounds that gives the letter a bit of texture. 
    Make it slightly dark right near the top and bottom, but completely transparent for a large part of the center.

Add a white background color to the letter.


Add a filter to the logo to give it a subtle drop shadow.
To the <h1> Links to an external site., add the logo as a background image.
Add a 1mm top and bottom solid border to the letter, in a color that is in keeping with the rest of the color scheme.
*/